.contacts {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}

.contact {
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #3b3e3e;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;

  p{
    margin-top: 30px;
    color: #6e7373;
  }

  svg {
    fill: #FFF;
  }
}